<section class="py-14 md:py-20 bg-gray-200 px-8 md:px-16">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-y-4">
    <div class="flex justify-center items-center">
      <img src="/about.jpeg" class="w-3/4 md:w-1/2 rounded-md" alt="" />
    </div>
    <div class="md:w-4/5 flex flex-col gap-y-2">
      <h3 class="font-bold text-3xl text-theme-blue">Sobre el Facilitador</h3>
      <p>
        Jorge J. Maurera Fernández es productor, editor audiovisual y creador de
        contenido digital, además de escritor con <b>3 poemarios publicados</b>,
        destacándose por su trabajo creativo en el área de la comunicación y la
        producción multimedia.
      </p>
      <p>
        Ha trabajado como editor audiovisual para proyectos en <b
          >Argentina, España, México y Estados Unidos</b
        >, apoyando la creación de contenido para marcas, emprendimientos y
        proyectos digitales. Su experiencia se centra en la producción de
        contenido con enfoque <b
          >estratégico, creativo y orientado a resultados.</b
        >
      </p>
      <p>
        Su trayectoria combina creatividad, técnica y pasión por la comunicación
        digital, buscando siempre <b
          >aportar valor a cada proyecto en el que participa</b
        >. A través de su trabajo, ha ayudado a potenciar la presencia digital
        de diferentes iniciativas, compartiendo conocimientos prácticos
        enfocados en la creación de contenido de alto impacto.
      </p>
    </div>
  </div>
</section>
