---
import ListSocialLinks from "./ListSocialLinks.astro"
---

<footer
  class="bg-stone-800 text-white grid grid-cols-1 px-8 py-4 md:py-2 md:grid-cols-2 gap-y-4"
>
  <div>
    <p class="text-center md:text-left">&copy; Todos los derechos reservados</p>
  </div>
  <div class="flex flex-row items-center justify-center md:justify-end gap-x-4">
    <ListSocialLinks />
  </div>
</footer>
