<div
  class="flex flex-col gap-y-1 bg-white rounded-lg border border-gray-300 px-8 py-4"
>
  <img src="/banner.png" class="rounded-md" alt="" />
  <h1 class="font-bold text-lg md:text-3xl md:mb-4">
    Master Class Edición Audiovisual
  </h1>
  <p class="text-pretty text-sm md:text-base">
    ¡Gracias por tu interés en nuestra <strong
      >Master Class de Edición Audiovisual!</strong
    >
    Completa este formulario para asegurar tu cupo y recibir toda la información necesaria
    antes del inicio de la clase. <br /> ¡Prepárate para aprender a editar con criterio,
    ritmo y estilo!
  </p>
</div>
