---
const classes = [
  {
    img: "/banner.png",
    href: "/audiovisual",
  },
]
---

<div class="grid grid-cols-1 md:grid-cols-3 gap-4 px-4">
  <h1 class="col-span-full font-bold text-2xl">Clases</h1>

  {
    classes.map((el) => {
      return (
        <div class="col-span-1 border border-gray-300 rounded-lg p-3 flex flex-col">
          <a href={el.href}>
            <img src={el.img} alt="" class="rounded-lg" />
          </a>
          <div class="px-2 ">
            <h2 class="font-bold text-2xl text-stone-900 py-2">
              Edición Audiovisual
            </h2>
            <time datetime="2026-02-013T13:30:00-16:00">
              <span class="font-semibold">Fecha:</span> viernes, 13 de marzo
            </time>
          </div>
        </div>
      )
    })
  }
</div>
