---
import "../styles/global.css"

const { title = "Cache Marketing | Master Class" } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta
      name="description"
      content="Aprende edición audiovisual de forma práctica. Domina herramientas como Premiere y CapCut y eleva la calidad de tus contenidos."
    />
    <link rel="preload" as="image" href="/hero-bg.avif" />
    <meta
      property="og:url"
      content="https://masterclass.cachemarketing.net/audiovisual"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Cache Marketing | Master Class Edición Audiovisual"
    />
    <meta
      property="og:description"
      content="Aprende edición audiovisual de forma práctica. Domina herramientas como Premiere y CapCut y eleva la calidad de tus contenidos."
    />
    <meta property="og:image" content="/banner.png" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style></style>
